NODE_ENV='development'

AUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DB_HOST='localhost'
DB_USER='guestbook-user'
DB_PASS='guestbook-pass'
DB_NAME='guestbook'
DB_PORT='5432'

DATABASE_URL='postgresql://guestbook-user:guestbook-pass@localhost:5432/guestbook'

# Public facing environment variables
NEXT_PUBLIC_BASE_URL='http://localhost:3000'
